.TodosError {
    width: calc(100% - 54px);
    height: 200px;
    margin: 0 24px;
    display: flex;
    align-items: center;
}

.TodosError p {
    width: 100%;
    font-size: 24px;
    text-align: center;
}