body {
  margin: 0;
  padding: 0;
  background: rgb(2,0,36);
  background: linear-gradient(152deg, rgba(2,0,36,1) 0%, rgba(126,125,172,1) 35%, rgba(0,212,255,1) 100%);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}